# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
langchain-env/
*.egg-info/
dist/
build/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
